.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn{
    border: none;
    padding: var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--secondary-color);
}